.TxtHeaderEmploye{
    font-size: 35px;
}


.HeaderEmploye{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px;
    
}


.EmployeIcon{
    width: 60px;
    height: 60px;
}