.rectangle-9 {
  background-color: 
#3f3f3fe0;
  height: 550px;
  position: absolute;
  top: 3px;
  width: 1519px;
}
.p1 {
  height: 483px;
  position: absolute;
  top: 3px;
  width: 100px;
}

.p2 {
  height: 483px;
  position: absolute;
  top: 3px;
  width: 100px;
}

.p3 {
  height: 483px;
  position: absolute;
  top: 3px;
  width: 100px;
}

